# prepare

## splitting data

In [ ]:
# import needed libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import sys
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# data_buka = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Skripsi/Code/First/Bukalapak/Electronic/BukalapakElectronic.txt", on_bad_lines='skip', names=['text'])
# data_buka = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Skripsi/Code/First/Bukalapak/Fashion/BukalapakFashion.txt", on_bad_lines='skip', names=['text'])
# data_buka = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Skripsi/Code/First/Bukalapak/Furniture/BukalapakFurniture.txt", on_bad_lines='skip', names=['text'], sep='`')

# data_buka = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Skripsi/Code/Second/Bukalapak/Electronic/BukalapakElectronic.txt", on_bad_lines='skip', names=['text'])
# data_buka = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Skripsi/Code/Second/Bukalapak/Fashion/BukalapakFashion.txt", on_bad_lines='skip', names=['text'])
# data_buka = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Skripsi/Code/Second/Bukalapak/Furniture/BukalapakFurniture.txt", on_bad_lines='skip', names=['text'], sep='`')

# data_buka = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Skripsi/Code/Third/Bukalapak/Electronic/BukalapakElectronic.txt", on_bad_lines='skip', names=['text'])
# data_buka = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Skripsi/Code/Third/Bukalapak/Fashion/BukalapakFashion.txt", on_bad_lines='skip', names=['text'])
data_buka = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Skripsi/Code/Third/Bukalapak/Furniture/BukalapakFurniture.txt", on_bad_lines='skip', names=['text'], sep='`')

In [ ]:
# deleting limiter or marked in every start of the page
data_buka = data_buka.iloc[0:-6]
def delete_mark(data):
  for i in range (len(data)):
    data[i] = re.sub(r'[\ ]+(VALID_DATA_BELOW)$', '', data[i])
    data[i] = re.sub(r'[\.]', '', data[i])

delete_mark(data_buka['text'])
data_buka['text'] = data_buka['text'].str.lower()

In [ ]:
tag_sort_rele = 'bukalapak sort by relevance'
tag_sort_lowe = 'bukalapak sort by lowest price'
tag_sort_high = 'bukalapak sort by highest price'
tag_filt_lowe = 'bukalapak filter by lowest price'
tag_filt_high = 'bukalapak filter by highest price'

def find_class(data, detail_data, marker):
  temp_list = list( map(int, data.index[(detail_data == marker)].tolist()) )
  return temp_list

tag_sort_rele_num = find_class(data_buka, data_buka['text'], tag_sort_rele)
tag_sort_lowe_num = find_class(data_buka, data_buka['text'], tag_sort_lowe)
tag_sort_high_num = find_class(data_buka, data_buka['text'], tag_sort_high)
tag_filt_lowe_num = find_class(data_buka, data_buka['text'], tag_filt_lowe)
tag_filt_high_num = find_class(data_buka, data_buka['text'], tag_filt_high)

tag_sort_rele_num = tag_sort_rele_num[0]
tag_sort_lowe_num = tag_sort_lowe_num[0]
tag_sort_high_num = tag_sort_high_num[0]
tag_filt_lowe_num = tag_filt_lowe_num[0]
tag_filt_high_num = tag_filt_high_num[0]

buka_sort_rele    =   data_buka.iloc[tag_sort_rele_num+1:tag_sort_lowe_num]
buka_sort_lowe    =   data_buka.iloc[tag_sort_lowe_num+1:tag_sort_high_num]
buka_sort_high    =   data_buka.iloc[tag_sort_high_num+1:tag_filt_lowe_num]
buka_filt_lowe    =   data_buka.iloc[tag_filt_lowe_num+1:tag_filt_high_num]
buka_filt_high    =   data_buka.iloc[tag_filt_high_num+1:]

buka_sort_rele.reset_index(inplace=True, drop=True)
buka_sort_lowe.reset_index(inplace=True, drop=True)
buka_sort_high.reset_index(inplace=True, drop=True)
buka_filt_lowe.reset_index(inplace=True, drop=True)
buka_filt_high.reset_index(inplace=True, drop=True)

In [ ]:
buka_sort_rele

                                                   text
0     dosay keranjang kain laundry bag standing berd...
1                                                    rp
2                                                231000
3                                     tangerang selatan
4                                  1rb feedback positif
...                                                 ...
1184                                          tangerang
1185                               5rb feedback positif
1186                              bayar di tempat (cod)
1187                                           | pass |
1188  ----------------------------------------------...

[1189 rows x 1 columns]

## cleaning data

In [ ]:
def regexing_word(data_details):
  for i in range (len(data_details)):
    data_details[i] = re.sub(r'^(no ongkir)$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^(bayar di tempat \(cod\))$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^[\d]+[rb]*( feedback positif)$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^\d$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^[\d]{2}$', 'deleted', data_details[i])                    # terjual tag
    data_details[i] = re.sub(r'^(terjual )[\d]+$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^rp$', 'deleted', data_details[i]) 
    data_details[i] = re.sub(r'^rp[\d]+$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^\d+\%$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'(-){78}', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^grosir$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'^bekas$', 'deleted', data_details[i])
    data_details[i] = re.sub(r'(valid_data_below)$', 'deleted', data_details[i])

regexing_word(buka_sort_rele['text'])
regexing_word(buka_sort_lowe['text'])
regexing_word(buka_sort_high['text'])
regexing_word(buka_filt_lowe['text'])
regexing_word(buka_filt_high['text'])

buka_sort_rele = buka_sort_rele[buka_sort_rele['text'].str.contains("deleted")==False]
buka_sort_lowe = buka_sort_lowe[buka_sort_lowe['text'].str.contains("deleted")==False]
buka_sort_high = buka_sort_high[buka_sort_high['text'].str.contains("deleted")==False]
buka_filt_lowe = buka_filt_lowe[buka_filt_lowe['text'].str.contains("deleted")==False]
buka_filt_high = buka_filt_high[buka_filt_high['text'].str.contains("deleted")==False]

buka_sort_rele.reset_index(inplace=True, drop=True)
buka_sort_lowe.reset_index(inplace=True, drop=True)
buka_sort_high.reset_index(inplace=True, drop=True)
buka_filt_lowe.reset_index(inplace=True, drop=True)
buka_filt_high.reset_index(inplace=True, drop=True)

In [ ]:
buka_sort_rele

                                                  text
0    dosay keranjang kain laundry bag standing berd...
1                                               231000
2                                    tangerang selatan
3    keranjang jala lipat besi galvanize pallet mes...
4                                               600000
..                                                 ...
476                                         kab bekasi
477  sepeda anak perempuan 16 inch trex michel kera...
478                                             575000
479                                          tangerang
480                                           | pass |

[481 rows x 1 columns]

In [ ]:
keyw_1 = '| pass |'

def removing_word(data_details):
  for i in range (len(data_details)):
    if re.match('^\d+$', data_details[i]):
      data_details[i+1] = 'deleted'
    elif keyw_1 in data_details[i]:
      data_details[i] = 'deleted'
    else:
      continue

removing_word(buka_sort_rele['text'])
removing_word(buka_sort_lowe['text'])
removing_word(buka_sort_high['text'])
removing_word(buka_filt_lowe['text'])
removing_word(buka_filt_high['text'])

buka_sort_rele = buka_sort_rele[buka_sort_rele['text'].str.contains("deleted")==False]
buka_sort_lowe = buka_sort_lowe[buka_sort_lowe['text'].str.contains("deleted")==False]
buka_sort_high = buka_sort_high[buka_sort_high['text'].str.contains("deleted")==False]
buka_filt_lowe = buka_filt_lowe[buka_filt_lowe['text'].str.contains("deleted")==False]
buka_filt_high = buka_filt_high[buka_filt_high['text'].str.contains("deleted")==False]

buka_sort_rele.reset_index(inplace=True, drop=True)
buka_sort_lowe.reset_index(inplace=True, drop=True)
buka_sort_high.reset_index(inplace=True, drop=True)
buka_filt_lowe.reset_index(inplace=True, drop=True)
buka_filt_high.reset_index(inplace=True, drop=True)

In [ ]:
buka_sort_rele

                                                  text
0    dosay keranjang kain laundry bag standing berd...
1                                               231000
2    keranjang jala lipat besi galvanize pallet mes...
3                                               600000
4    saringan keranjang besi premium anti karat buy...
..                                                 ...
315                                             600000
316  sepeda mini anak anak 16 18 inch atlantis bell...
317                                             680000
318  sepeda anak perempuan 16 inch trex michel kera...
319                                             575000

[320 rows x 1 columns]

# sort by relevance

### clearing digits

In [ ]:
def removing_digit(data_details):
  for i in range (len(data_details)):
    data_details[i] = re.sub(r'^\d+$', 'deleted', data_details[i])

removing_digit(buka_sort_rele['text'])
buka_sort_rele = buka_sort_rele[buka_sort_rele['text'].str.contains("deleted")==False]
buka_sort_rele.reset_index(inplace=True, drop=True)

In [ ]:
buka_sort_rele

                                                  text
0    dosay keranjang kain laundry bag standing berd...
1    keranjang jala lipat besi galvanize pallet mes...
2    saringan keranjang besi premium anti karat buy...
3    dealer pallet mesh keranjang besi lipat harga ...
4           saringan keranjang besi premium anti karat
..                                                 ...
155    sepeda anak mini lisella 20 inch keranjang besi
156  sepeda anak perempuan mini 16 inch trex unicor...
157  sepeda anak perempuan mini 12 inch trex unicor...
158  sepeda mini anak anak 16 18 inch atlantis bell...
159  sepeda anak perempuan 16 inch trex michel kera...

[160 rows x 1 columns]

### electronic

In [ ]:
elec_1 = ('case')
elec_2 = ('redmi')
elec_3 = ('10a')
elec_4 = ('10 a')

def elec_chec_keyw(data_details):
  falseCounter=0
  for i in range (len(data_details)):
    if elec_1 in data_details[i]:
      if elec_2 in data_details[i]:
        if elec_3 in data_details[i]:
          continue
        if elec_4 in data_details[i]:
          continue
        else:
          falseCounter+=1
      else:
          falseCounter+=1
    else:
      falseCounter+=1
  print('accuracy of sort by relevance bukalapak: ', (len(data_details)-falseCounter)/len(data_details))
  print('true items, :', len(data_details)-falseCounter, ', false items :', falseCounter)

### fashion

In [ ]:
fash_1 = ('sweater')
fash_2 = ('rajut')

def fash_chec_keyw(data_details):
  falseCounter=0
  for i in range (len(data_details)):
    if fash_1 in data_details[i]:
      if fash_2 in data_details[i]:
        continue
      else:
          falseCounter+=1
    else:
      falseCounter+=1
  print('accuracy of sort by relevance bukalapak: ', (len(data_details)-falseCounter)/len(data_details))
  print('true items, :', len(data_details)-falseCounter, ', false items :', falseCounter)

### furniture

In [ ]:
furn_1 = ('keranjang')
furn_2 = ('besi')

def furn_chec_keyw(data_details):
  falseCounter=0
  for i in range (len(data_details)):
    if furn_1 in data_details[i]:
      if furn_2 in data_details[i]:
        continue
      else:
          falseCounter+=1
    else:
      falseCounter+=1
  print('accuracy of sort by relevance bukalapak: ', (len(data_details)-falseCounter)/len(data_details))
  print('true items, :', len(data_details)-falseCounter, ', false items :', falseCounter)

### main

In [ ]:
# elec_chec_keyw(buka_sort_rele['text'])
# fash_chec_keyw(buka_sort_rele['text'])
furn_chec_keyw(buka_sort_rele['text'])

accuracy of sort by relevance bukalapak:  0.975

# sort by lowest price

In [ ]:
buka_sort_lowe

                                                  text
0    plat besi holder keranjang sepeda untuk bagian...
1                                                 3500
2    plat besi holder keranjang sepeda bagian bawah...
3                                                 3500
4    roda caster model tipe hidup berputar roda ker...
..                                                 ...
295                                              32000
296  rak selip lemari besi keranjang selip dapur se...
297                                              34900
298  hanging basket keranjang selip lemari besi rak...
299                                              34900

[300 rows x 1 columns]

In [ ]:
buka_sort_lowe = buka_sort_lowe[buka_sort_lowe['text'].str.contains('^[0-9]+$')]
buka_sort_lowe.reset_index(inplace=True, drop=True)
buka_sort_lowe

      text
0     3500
1     3500
2     6000
3     6000
4     6500
..     ...
145  30000
146  31000
147  32000
148  34900
149  34900

[150 rows x 1 columns]

In [ ]:
buka_sort_lowe['text'] = buka_sort_lowe['text'].astype(int)

In [ ]:
def check_sort_lowest(data_details):
  falseCounter=0
  i=0
  while i < len(data_details)-1:
    if data_details[i] <= data_details[i+1]:
      # print('correct ', i+1)
      i=i+1
    else:
      falseCounter+=1
      print('false on price ', i, ' ',data_details[i], ' then ', data_details[i+1])
      i=i+1
  print('there are ', falseCounter, ' miss on sort by lowest price in bukalapak, accuracy: ', (len(data_details)-falseCounter)/len(data_details))
  print('true items, :', len(data_details)-falseCounter, ', false items :', falseCounter)

check_sort_lowest(buka_sort_lowe['text'])

false on price  123   2500000  then  4000
there are  1  miss on sort by lowest price in bukalapak, accuracy:  0.9933333333333333

# sort by highest

In [ ]:
buka_sort_high

                                                  text
0                keranjang basket besi anak best deals
1                                              3385200
2                       set kursi teras keranjang besi
3                                              2500000
4    best seller - matras driving golf 1 5x1 5 m ke...
..                                                 ...
295                                             100000
296  keranjang besi jaring samping kiri dasbor sayu...
297                                             100000
298  rak keranjang jepit tengah honda grand bulus i...
299                                             100000

[300 rows x 1 columns]

In [ ]:
buka_sort_high = buka_sort_high[buka_sort_high['text'].str.contains('^[0-9]+$')]
buka_sort_high.reset_index(inplace=True, drop=True)
buka_sort_high

        text
0    3385200
1    2500000
2    2500000
3    1670000
4    1463175
..       ...
145   100000
146   100000
147   100000
148   100000
149   100000

[150 rows x 1 columns]

In [ ]:
def check_sort_highest(data_details):
  falseCounter=0
  i=0
  while i < len(data_details)-1:
    if data_details[i] >= data_details[i+1]:
      # print('correct ', i+1)
      i=i+1
    else:
      falseCounter+=1
      print('false on price ', i, ' ',data_details[i], ' then ', data_details[i+1])
      i=i+1
  print('there are ', falseCounter, ' miss on sort by highest price in bukalapak, accuracy: ', (len(data_details)-falseCounter)/len(data_details))
  print('true items, :', len(data_details)-falseCounter, ', false items :', falseCounter)

check_sort_highest(buka_sort_high['text'])

false on price  6   1327725  then  995000
there are  1  miss on sort by highest price in bukalapak, accuracy:  0.9933333333333333

# filter by lowest price

In [ ]:
buka_filt_lowe

                                                  text
0    besi keranjang sepeda dudukan keranjang di sta...
1                                                10000
2    kesi rak bumbu kamar mandi keranjang besi gant...
3                                                11000
4           grosir tempat pensil pencil keranjang besi
..                                                 ...
295                                              41760
296  hijang 52x35 hiasan dinding wire grid wall bla...
297                                              41760
298  keranjang sepeda mini 20 24 26 inch besi bedar...
299                                              44500

[300 rows x 1 columns]

In [ ]:
buka_filt_lowe = buka_filt_lowe[buka_filt_lowe['text'].str.contains('^[0-9]+$')]
buka_filt_lowe.reset_index(inplace=True, drop=True)
buka_filt_lowe['text'] = buka_filt_lowe['text'].astype(int)

In [ ]:
minimum_price = 10000
def check_filter_lowest(data_details):
  falseCounter=0
  i=0
  while i < len(data_details)-1:
    if data_details[i] >= minimum_price:
      # print('correct ', i+1)
      i=i+1
    else:
      falseCounter+=1
      print('false on price ', i, ' ',data_details[i])
      i=i+1
  print('there are ', falseCounter, ' miss on filter by lowest price in bukalapak, ', (len(data_details)-falseCounter)/len(data_details))
  print('true items, :', len(data_details)-falseCounter, ', false items :', falseCounter)

check_filter_lowest(buka_filt_lowe['text'])

there are  0  miss on filter by lowest price in bukalapak,  1.0

# filter by highest price

In [ ]:
buka_filt_high

                                                  text
0    kranjang rak tengah bagasi besi krom satria lu...
1                                               100000
2    rak keranjang tengah jepit besi chrome yamaha ...
3                                               100000
4    rak keranjang jepit tengah honda karisma khari...
..                                                 ...
295                                              14200
296  kaki keranjang atau besi dudukan keranjang sep...
297                                              12500
298         grosir tempat pensil pencil keranjang besi
299                                              12000

[300 rows x 1 columns]

In [ ]:
buka_filt_high = buka_filt_high[buka_filt_high['text'].str.contains('^[0-9]+$')]
buka_filt_high.reset_index(inplace=True, drop=True)
buka_filt_high['text'] = buka_filt_high['text'].astype(int)
buka_filt_high

       text
0    100000
1    100000
2    100000
3    100000
4    100000
..      ...
145   14500
146   14200
147   14200
148   12500
149   12000

[150 rows x 1 columns]

In [ ]:
maximum_price = 100000
def check_filter_lowest(data_details):
  falseCounter=0
  i=0
  while i < len(data_details)-1:
    if data_details[i] <= maximum_price:
      # print('correct ', i+1)
      i=i+1
    else:
      falseCounter+=1
      print('false on price ', i, ' ',data_details[i])
      i=i+1
  print('there are ', falseCounter, ' miss on filter by highest price in bukalapak, ', 'accuracy: ', (len(data_details)-falseCounter)/len(data_details))
  print('true items, :', len(data_details)-falseCounter, ', false items :', falseCounter)

check_filter_lowest(buka_filt_lowe['text'])

false on price  85   105000
false on price  86   110000
false on price  87   110000
false on price  88   115000
false on price  89   119000
false on price  90   120000
false on price  91   130000
false on price  92   145000
false on price  93   150000
false on price  94   150000
false on price  95   150000
false on price  96   150000
false on price  97   160000
false on price  98   167900
false on price  99   169000
false on price  100   174900
false on price  101   174900
false on price  102   175000
false on price  103   180000
false on price  104   220000
false on price  105   250000
false on price  106   250000
false on price  107   440000
false on price  108   470000
false on price  109   575000
false on price  110   790000
false on price  111   790000
false on price  112   830000
false on price  113   855000
false on price  114   920000
false on price  115   995000
false on price  116   2500000
there are  32  miss on filter by highest price in bukalapak,  accuracy:  0.7866666666666666